{% extends "base.html" %}
{%load static%}
{% block title %} My blog {% endblock %}

{%block css_files%}
<link rel="stylesheet" type="text/css" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}" />
{%endblock%}

{%block content%}
<section id="welcome">
	<header>
		<img src="{% static "blog/images/thumb-1920-600459.jpg" %}" alt="Akash -
		Author of this blog" />
		<h2>Akash's blog</h2>
	</header>
</section>
<section id="latest-posts">
	<h2>My Latest Thoughts</h2>
	<ul>
		{% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
	</ul>
</section>

<section id="about">
	<h2>What I do</h2>
	<p>I like to create pretty things with maths and programming</p>
</section>

{%endblock%}
